*{
    margin: 0;
    padding: 0;
}

.main{
    font-family: 'Arimo';
    font-style: normal;
    text-transform: uppercase;
}

.box_table_1, .box_table_2{
    margin: 0 auto;
    width: 1192px;
    box-sizing: border-box;
    text-align: center;
}

.box_table_1{
    border: 34px solid #3A4965;
}

.box_table_2{
    margin-top: 50px;
    border: 28px solid #3A4965;
}

.table_1, .table_2{
    border-collapse: collapse;    
}

.box_cell{
    font-size: 16px;
    line-height: 16px;
    color: rgba(72, 72, 72, 1);
}

.box_list:nth-child(2n){
    background: #F2F2F2;
}

.box_list:nth-child(2n+3){
    background: #E3E3E3;
}

.cell, .cell_2{
    text-align: center;
    vertical-align: middle;   
}

.cell{
    width: 280px;
    height: 72px;
    box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.1);     
}

.title_choose, .cell_choose{
    display: flex;
    justify-content: center;
    width: 313px;
    font-weight: 700;
    line-height: 28px;
    color: #484848;
}

.title_choose{
    height: 73px;
    align-items: flex-end;
    font-size: 18px;
}

.cell_choose{
    height: 89px;
    align-items: flex-start;
    font-size: 30px;
}

.title_text{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.title_standart, .standart{
    background: #89C331;
}

.title_ultimate, .ultimate{
    background: #F04A56;
}

.title_premium, .premium{
    background: #20807C;
}

.title_ultimate{
    font-size: 30px;
    line-height: 28px;
}

.title_premium{
    width: 277px;
}

.cell_per{
    width: 280px;
    height: 89px;
    background: #FAFAFA
}

.cell_button{
    height: 109px;
}

.cell_button_main{
    width: 313px;
}

.priсe{
    font-weight: 700;
    line-height: 28px;
    color: #484848;
}

.cent{
    width: 61px;
    height: 28px;
    font-size: 24px;
    position: relative;
    bottom: 28px;
    right: -33px;   
}

.dollar{
    width: 128px;
    height: 50px;
    font-size: 60px;
    position: relative;
    left: 33px;
    top: 10px;
}

.priсe_per{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #484848;
    position: relative;
    left: 4px;
    top: -9px;
}

.tfoot_button{
    height: 109px;
}

.cell_button{
    width: 195px;
    height: 54px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.button_text{
    position: relative;
    bottom: -5px;
}

.black{
    background: #DDDDDD;
}

.button_black{
    background: #484848;
}

.button_green{
    background: #89C331;
}

.button_red{
    background: #F04A56;
}

.button_blue{
    background: #20807C;
}

.button_black::after, .button_green::after, .button_blue::after, .button_red::after{
    content: "";
    display: block;
    width: 195px;
    height: 9px;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    bottom: -13px;
    left: 0px;
}

.button_black::after{
    background: #404040;
}

.button_green::after{
    background: #79B027;
}

.button_red::after{
    background: #DF3A46;
}

.button_blue::after{
    background: #16736F;
}

.box_title_2 {
    width: 201px;
    height: 115px;
    font-weight: 700;
    line-height: 28px;
    color: #484848;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head_title{
    border-bottom: 15px solid #3A4965 ;
}
.title_2_choose{
    width: 134px;
    font-size: 14px;
    position: relative;
    bottom: -7px;
}

.title_2_pricing{
    width: 172px;
    font-size: 20px;
}

.caption{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.cell_main_2{
    width: 160px;
    height: 115px;
    color: #484848;
}

.cell_2{
    width: 160px;
    height: 169px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #484848;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}


.cell_2:nth-child(2n+2){
    background: #E3E3E3;
}

.cell_main_2:nth-child(2n+2){
    background: #E3E3E3;
}

.cell_2:nth-child(2n+3){
    background: #F2F2F2;
}

.cell_main_2:nth-child(2n+3){
    background: #F2F2F2;
}

.cell_per_2{
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.text_2{
    font-size: 24px;
    position: relative;
    top: -6px;

}

.dollar_2{
    font-size: 36px;
}

.cent_2{
    font-size: 18px;
    position: relative;
    top: -15px;
}

.priсe_per_2{
    font-size: 14px;
    position: relative;
    top: -5px;
}

.button_2{
    width: 147px;
    height: 44px;
    background: #414141;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    position: relative;
    top: 8px;
    cursor: pointer;
    text-transform: uppercase;
}

.button_2::after{
    content: "";
    display: block;
    width: 147px;
    height: 7px;
    border-radius: 0px 0px 5px 5px;
    background: #343434;
    position: relative;
    bottom: -5px;
    left: 0px;
}

.buy{
    position: relative;
    bottom: -3px;
}